@use "./variables" as *;
@use "./mixins" as *;
/* Default browser styling reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Common styles */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  font-size: 1.6em;
  font-family: "Avenir Next";
  width: 100%;
  max-width: 1280px;
  color: $color-bandsite-black;
  &::-webkit-scrollbar {
    display: none;
  }
}
.btn-cta {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: $color-bandsite-black;
  color: $color-white;
  width: 100%;
  height: 40px;
  border-radius: 0.4rem;
  border: none;
  align-self: flex-end;
  margin: 1.6rem 0;
  @include tablet-breakpoint {
    width: 150px;
    padding: 0 3.2rem;
    margin: 2.4rem 0;
  }
}
.content-max-w {
  width: 1020px;
}
/* ************************** */
/* HEADER */
/* ************************** */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-bandsite-black;
  color: $color-mercury;
  @include tablet-breakpoint {
    flex-direction: row;
  }
  &__logo {
    cursor: pointer;
    &-img {
      max-height: 20px;
      max-width: 120px;
      margin-top: 1.6rem;
      @include tablet-breakpoint {
        margin: 2.4rem 6.4rem 2.4rem 3.6rem;
      }
      @include desktop-breakpoint {
        margin: 3.2rem 5.6rem 3.2rem 12.8rem;
      }
    }
  }
  &__nav {
    width: 100%;
    @include font($font-body-md, $lh-body-md);
    &-list {
      display: flex;
      justify-content: space-around;
      @include tablet-breakpoint {
        justify-content: flex-start;
        gap: 3.6rem;
      }
    }

    &-item {
      position: relative;
      flex: 1;
      text-align: center;
      padding: 1.2rem 0;
      @include tablet-breakpoint {
        flex: unset;
      }
    }
    &-link {
      &:active,
      &:hover {
        color: $color-white;
      }
      &:active {
        font-weight: 700;
      }
      &::after {
        content: "";
        position: absolute;
        height: 0;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: $color-white;
        transition: height 0.2s ease-in;
        @include tablet-breakpoint {
          bottom: -1rem;
        }
        @include desktop-breakpoint {
          bottom: -1.8rem;
        }
      }
      &:hover::after {
        height: 3px;
      }
      &--active {
        color: $color-white;

        &::after {
          height: 3px;
        }
      }
    }
  }
}

/* ************************** */
/* HERO */
/* ************************** */
.hero {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center center;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__heading {
    color: $color-white;
    font-weight: 700;
    @include heading-style($font-heading-sm, $lh-heading-sm, 0 1.6rem);
    z-index: 2;
    @include mid-phone-breakpoint {
      font-size: 3.2rem;
    }
    @include tablet-breakpoint {
      @include heading-style(6rem, 6.8rem, 0 3.6rem);
    }
    @include desktop-breakpoint {
      padding: 0 12.8rem;
    }
  }
}

/* ************************** */
/* FOOTER */
/* ************************** */
.footer {
  background-color: $color-bandsite-black;
  padding: 0 1.6rem 2.4rem;
  color: $color-white;
  width: 100%;
  @include tablet-breakpoint {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    padding: 0 3.6rem 4.8rem;
  }
  @include desktop-breakpoint {
    padding: 0 12.8rem 4.8rem;
  }
  &-content-wrap {
    color: $color-white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include tablet-breakpoint {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &-heading-wrap {
    display: flex;
    flex-direction: column;
    @include tablet-breakpoint {
      flex-direction: row;
      align-items: center;
      gap: 2.4rem;
    }
  }
  &__heading {
    font-weight: 700;
    @include heading-style($font-heading-sm, $lh-heading-sm, $padding-sm);
    @include tablet-breakpoint {
      display: inline-block;
      order: 1;
      @include heading-style($font-heading-lg, $lh-heading-lg, $padding-md);
    }
    @include desktop-breakpoint {
      padding: $padding-lg;
    }
  }
  &__socials {
    display: flex;
    gap: 2.4rem;
    @include tablet-breakpoint {
      order: 2;
      gap: 2.4rem;
      padding: $padding-md;
    }
    @include desktop-breakpoint {
      padding: $padding-lg;
    }
    & img {
      width: 24px;
      height: 24px;
    }
  }
  &__cols {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    @include font($font-body-sm, $lh-body-sm);
    @include tablet-breakpoint {
      @include font($font-body-md, $lh-body-md);
      order: 4;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
    }
    @include desktop-breakpoint {
      justify-content: flex-start;
      gap: 5.6rem;
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    &--1 {
      margin-top: 2.4rem;
      @include tablet-breakpoint {
        margin-top: 0;
      }
    }
    @include tablet-breakpoint {
      gap: 2.4rem;
      flex-direction: column;
    }
  }

  &__subheading {
    font-weight: 600;
  }
  &__logo {
    padding: 4rem 0 1.6rem;
    @include tablet-breakpoint {
      display: flex;
      align-items: center;
      order: 3;
      padding: $padding-md;
    }
    @include desktop-breakpoint {
      display: flex;
      align-items: center;
      order: 3;
      padding: $padding-lg;
    }
    & img {
      max-height: 20px;
      max-width: 120px;
    }
  }
  &__copy {
    @include font(1.4rem, 2rem);
  }
}
