// SCREEN BREAKPOINTS (Mobile First):
$mid-phone-breakpoint: 400px;
$lg-phone-breakpoint: 550px;
$tablet-breakpoint: 768px;
$lg-tablet-breakpoint: 1000px;
$desktop-breakpoint: 1280px;

// COLORS:
// Primary colors:
$color-bandsite-black: #323232;
$color-silver: #afafaf;
$color-white: #ffffff;

// Secondary colors:
$color-bandsite-darkblack: #000000;
$color-mercury: #e1e1e1;
$color-alabaster: #fafafa;
