@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/globals" as *;
@use "./partials/typography" as *;

/* ************************** */
/* BIO-HERO SECTION*/
/* ************************** */
.section-hero--bio {
  height: 200px;
  background-image: url("../assets/images/hero-bio.jpg");
  justify-content: flex-start;

  @include lg-phone-breakpoint {
    height: 300px;
  }
  @include tablet-breakpoint {
    height: 450px;
  }
  @include lg-tablet-breakpoint {
    height: 540px;
  }
  @include desktop-breakpoint {
    height: 630px;
  }
}

/* ************************** */
/* ABOUT SECTION*/
/* ************************** */
.section-about {
  padding: 0 1.6rem 1.6rem;
  @include tablet-breakpoint {
    padding: 0 3.6rem 3.2rem;
  }
  @include desktop-breakpoint {
    padding: 0 12.8rem 3.2rem;
  }
}
.about {
  &__heading {
    font-family: "Avenir Next Bold";
    @include heading-style($font-heading-sm, $lh-heading-sm, $padding-sm);
    @include tablet-breakpoint {
      @include heading-style($font-heading-lg, $lh-heading-lg, $padding-md);
    }
    @include desktop-breakpoint {
      @include heading-style($font-heading-lg, $lh-heading-lg, $padding-lg);
    }
  }
  &__img {
    margin-bottom: 1.6rem;
    & img {
      aspect-ratio: 1.86 / 1;
      object-fit: cover;
    }
    @include tablet-breakpoint {
      margin: 0 6.4rem 2.4rem;
    }
    @include desktop-breakpoint {
      margin: 0 8.8rem 3.6rem;
    }
  }
  &__quote {
    font-family: "Avenir Next Demi";
    @include tablet-breakpoint {
      margin: 0 6.4rem 4.8rem;
    }
    @include desktop-breakpoint {
      margin: 0 8.8rem 4.8rem;
    }
  }

  &__subheading {
    font-family: "Avenir Next Demi";
    @include heading-style($font-body-md, $lh-body-md, $padding-sm);
    @include tablet-breakpoint {
      margin: 0 6.4rem 2.4rem;
      @include heading-style($font-heading-sm, $lh-heading-sm, $padding-sm);
    }
    @include desktop-breakpoint {
      margin: 0 8.8rem 2.4rem;
    }
  }
  &__bio-content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    @include font($font-body-sm, $lh-body-sm);
    & p {
      flex: 1;
    }
    @include tablet-breakpoint {
      flex-direction: row;
      justify-content: center;
      @include font($font-body-md, $lh-body-md);
      margin: 0 6.4rem;
    }
    @include desktop-breakpoint {
      gap: 2.4rem;
      margin: 0 8.8rem;
    }
  }
}
.quote__content {
  @include font($font-body-md, $lh-body-md);
  margin-bottom: 0.8rem;
  @include tablet-breakpoint {
    @include font($font-heading-sm, $lh-heading-sm);
  }
}
.quote__author {
  @include font($font-body-sm, $lh-body-sm);
  @include tablet-breakpoint {
    @include font($font-body-md, $lh-body-md);
  }
}

/* ************************** */
/* GALLERY*/
/* ************************** */
.section-gallery {
  background-color: $color-alabaster;
  padding: 0 1.6rem 1.6rem;
  @include tablet-breakpoint {
    padding: 0 3.6rem;
  }
  @include desktop-breakpoint {
    padding: 0 12.8rem;
  }
}
.gallery {
  &__heading {
    font-family: "Avenir Next Bold";
    @include heading-style($font-heading-sm, $lh-heading-sm, $padding-sm);
    @include tablet-breakpoint {
      @include heading-style($font-heading-lg, $lh-heading-lg, $padding-md);
    }
    @include desktop-breakpoint {
      @include heading-style($font-heading-lg, $lh-heading-lg, $padding-lg);
    }
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
    @include tablet-breakpoint {
      margin-bottom: 3.6rem;
    }
  }
  &__item {
    @include tablet-breakpoint {
      max-width: calc((100% - 48px) / 3);
    }
    & img {
      width: 100%;
      cursor: pointer;
      transition: all 0.4s;

      &:hover {
        filter: grayscale(100%);
      }
    }
  }
}

/* ************************** */
/* COMMENTS*/
/* ************************** */
.section-comments {
  padding: 0 1.6rem;
  @include tablet-breakpoint {
    padding: 0 3.6rem;
  }
  @include desktop-breakpoint {
    padding: 0 12.8rem;
  }
}
.comments {
  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include font(1.4rem, 2.2rem);
    border-bottom: 1px solid $color-mercury;

    @include desktop-breakpoint {
      width: 500px;
    }
  }
  &__heading {
    font-family: "Avenir Next Bold";
    @include heading-style($font-heading-sm, $lh-heading-sm, $padding-sm);
    @include tablet-breakpoint {
      @include heading-style($font-heading-lg, $lh-heading-lg, $padding-md);
    }
    @include tablet-breakpoint {
      @include heading-style($font-heading-lg, $lh-heading-lg, $padding-lg);
    }
  }
  &-wrp {
    font-family: "Avenir Next Regular";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    @include font(1.4rem, 2.2rem);
  }

  &--posted {
    @include desktop-breakpoint {
      width: 500px;
    }
  }
}
.user {
  flex-shrink: 0;
  display: flex;
  gap: 1.2rem;
  &-avatar {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    object-fit: cover;
    @include tablet-breakpoint {
      width: 48px;
      height: 48px;
    }
  }
  @include tablet-breakpoint {
    gap: 1.6rem;
  }
}

.form {
  &__comment-content {
    margin-left: 4.4rem;
    @include tablet-breakpoint {
      margin-left: 6.4rem;
    }
  }
  &__user {
    margin-bottom: 1.6rem;
  }
  &-field {
    min-height: 36px;
    width: 100%;
    border-radius: 4px;
    padding: 1.2rem;
    border: 1px solid $color-mercury;
    transition: all 0.2s ease;
    &-label {
      text-transform: uppercase;
      color: $color-silver;
      font-family: "Avenir Next Demi";
      margin-bottom: 4px;

      @include tablet-breakpoint {
        @include font(1.4rem, 2rem);
      }
    }
    &:focus {
      outline: none;
      border: 1px solid $color-bandsite-black;
    }

    @include tablet-breakpoint {
      min-height: 48px;
      padding: 1.6rem;
    }
  }
}
#name-label {
  margin-left: 4.4rem;
  @include tablet-breakpoint {
    margin-left: 6.4rem;
  }
}
#comment {
  min-height: 9.5rem;
  &::placeholder {
  }
}
.comment {
  &__card {
    display: flex;
    padding: 1.6rem 0;
    border-bottom: 1px solid $color-mercury;
    gap: 1.6rem;
    @include tablet-breakpoint {
      padding: 2.4rem 0;
    }
  }

  &__heading {
    font-family: "Avenir Next Demi";
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8rem;
  }
  &__date {
    color: $color-silver;
    font-family: "Avenir Next Regular";
  }
}
.user {
  &-avatar {
    width: 36px;
    height: 36px;
    background-color: $color-mercury;
    flex-shrink: 0;
    @include tablet-breakpoint {
      width: 48px;
      height: 48px;
    }
  }
}
