@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/globals" as *;
@use "./partials/typography" as *;

/* ************************** */
/* SHOWS-HERO SECTION*/
/* ************************** */
.section-hero--shows {
  height: 275px;
  background-image: url("../assets/images/hero-shows.jpg");
  justify-content: flex-start;
  padding: 0 1.6rem;
  @include lg-phone-breakpoint {
    height: 350px;
  }
  @include tablet-breakpoint {
    height: 500px;
    padding: 0 3.6rem;
  }
  @include lg-tablet-breakpoint {
    height: 540px;
    padding: 0;
    justify-content: center;
  }
  @include desktop-breakpoint {
    height: 630px;
  }
}

.hero {
  &-wrp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet-breakpoint {
    }
    @include desktop-breakpoint {
      max-width: 1070px;
    }
  }
  &__heading-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    @include tablet-breakpoint {
    }
    @include desktop-breakpoint {
      flex-direction: row;
      align-items: center;
      gap: 3.6rem;
    }
  }
  &__heading--shows {
    padding: 0.8rem 0 1.6rem 0;
    max-width: 80%;

    @include tablet-breakpoint {
      @include heading-style(6rem, 6.8rem, 1.6rem 0 3.6rem 0);
      max-width: 78%;
    }
    @include desktop-breakpoint {
      @include heading-style(6rem, 6.8rem, $padding-lg);
    }
  }
  &__subheading {
    color: $color-white;
    padding: 0;
    @include font(1.4rem, 2.2rem);
    z-index: 2;

    @include tablet-breakpoint {
      @include font(2.4rem, 3.2rem);
    }
    @include desktop-breakpoint {
      @include font(2.4rem, 3.2rem);
    }
  }
}

.soundcloud-embed {
  z-index: 2;
  flex: 1;
  @include tablet-breakpoint {
  }
  @include desktop-breakpoint {
    display: flex;

    justify-content: flex-end;
  }
}
.song-embed {
  width: 100%;
  height: 100px;

  @include tablet-breakpoint {
    width: 420px;
    height: 140px;
  }
  @include desktop-breakpoint {
  }
}

/* ************************** */
/* SHOWS LIST SECTION*/
/* ************************** */
.shows-section {
  display: flex;
  justify-content: center;
  @include tablet-breakpoint {
  }
  @include desktop-breakpoint {
    padding-top: 4.8rem;
  }
}
.shows {
  width: 100%;
  &__heading {
    font-family: "Avenir Next Bold";
    @include heading-style($font-heading-sm, $lh-heading-sm, 2.4rem 1.6rem);
    @include tablet-breakpoint {
      @include heading-style($font-heading-lg, $lh-heading-lg, $padding-md);
    }
    @include desktop-breakpoint {
      flex-shrink: 0;
      @include heading-style($font-heading-lg, $lh-heading-lg, 0);
    }
  }
  @include tablet-breakpoint {
    padding: 0 3.6rem;
  }
  @include desktop-breakpoint {
    padding: 0;
    max-width: 1070px;
    display: flex;
    justify-content: space-between;
  }
}
.cards__list {
  flex: 1;
  max-width: 800px;
  width: 100%;
  @include desktop-breakpoint {
    margin-top: 1.6rem;
  }
}
.show-card {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  border-bottom: 1px solid $color-mercury;
  margin: 1.6rem 0;
  padding: 0 1.6rem;
  cursor: pointer;
  @include font(1.4rem, 2.2rem);

  &--selected,
  &.show-card--selected:hover {
    background-color: $color-mercury;
  }

  &--top {
    @include font(1.4rem, 2.2rem);
    margin: 1.6rem 0;
    padding: 0 1.6rem;
    display: flex;
    width: 75%;
    border-bottom: none;
    gap: 0;
    @include tablet-breakpoint {
      margin: 2.4 0rem;
      padding: 0 1.8rem;
      justify-content: space-between;
    }
  }

  &__date,
  &__venue,
  &__location {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    @include tablet-breakpoint {
      flex-direction: row;
      flex: 25%;
    }
  }
  &__title,
  &--top {
    font-family: "Avenir Next Demi";
    text-transform: uppercase;
    color: $color-silver;
  }
  &__title {
    @include tablet-breakpoint {
      display: none;
    }
    &--top {
      display: none;
      flex: 1;
      @include tablet-breakpoint {
        display: block;
      }
    }
  }
  &__content {
    font-family: "Avenir Next Demi";
  }
  @include tablet-breakpoint {
    margin: 2.4 0rem;
    padding: 0 1.8rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    &:hover {
      background-color: $color-alabaster;
    }
  }
  @include desktop-breakpoint {
  }
}

.btn-cta--shows {
  @include tablet-breakpoint {
    flex: 25%;
  }
}
